</main>
<footer>
    <p>MovieRmd</p>
</footer>
</div>

</body>
<!--
             Bootstrap core JS-->
             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
             <!-- Core theme JS-->
             <script src="js/scripts.js"></script>
             <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
             <!-- * *                               SB Forms JS                               * *-->
             <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
             <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
             <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
             <script>
              // Get the elements by their ID
              var popupLink = document.getElementById("popup-link");
              var popupWindow = document.getElementById("popup-window");
              var closeButton = document.getElementById("close-button");
              // Show the pop-up window when the link is clicked
              popupLink.addEventListener("click", function(event) {
                event.preventDefault();
                popupWindow.style.display = "block";
              });
              // Hide the pop-up window when the close button is clicked
              closeButton.addEventListener("click", function() {
                popupWindow.style.display = "none";
              });
            </script>
</html>