
<div id="popular" class="container-fluid">  
  <h5>Trending🔥</h5>
  <div class="grid">
    <% movies.forEach(function(movie){%>
    <div id="gridCenter`" class="card">
      <img
        class="img-fluid rounded"
        src="https://image.tmdb.org/t/p/w300<%=movie.poster_path  %>"
        alt="movies.title"
      />
      <%if (locals.movie = movie.title){%>
      <p><a href=""><%= movie.title %></a></p>
      <%}else{%>
      <p><a href=""><%= movie.name %></a></p>
      <%}%>
    </div>
    <%}) %>
  </div>
</div>
