<%- include("partials/header.ejs") %>
<h1 id="RmdBanner">MovieRmd got all the movie recommendations you need</h1>
<%- include("partials/toprated.ejs") %> <%- include("partials/popular.ejs") %>
<%- include("partials/footer.ejs") %>
